@use "../helpers" as *;

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h7 {
  font-weight: 500;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4 {
  text-transform: uppercase;
}

h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6,
.h7 {
  line-height: 130%;
}

h1, .h1 {
  font-size: 110px;
  line-height: 1.1;
  @include xlg-block {
    font-size: 84px;
  }
  @include lg-block {
    font-size: 60px;
  }
  @include md-block {
    font-size: 40px;
  }
  @include xs-block {
    font-size: 32px;
  }
}

h2, .h2 {
  font-size: 54px;
  @include xlg-block {
    font-size: 46px;
  }
  @include md-block {
    font-size: 46px;
  }
  @include xs-block {
    font-size: 38px;
  }
}

h3, .h3 {
  font-size: 44px;
  @include xlg-block {
    font-size: 40px;
  }
  @include md-block {
    font-size: 36px;
  }
  @include xs-block {
    font-size: 32px;
  }
}

h4, .h4 {
  font-size: 38px;
  @include xlg-block {
    font-size: 34px;
  }
  @include md-block {
    font-size: 30px;
  }
  @include xs-block {
    font-size: 28px;
  }
}

h5, .h5 {
  font-size: 32px;
  @include xlg-block {
    font-size: 30px;
  }
  @include md-block {
    font-size: 26px;
  }
  @include xs-block {
    font-size: 24px;
  }
}

h6, .h6 {
  font-size: 28px;
  @include xlg-block {
    font-size: 26px;
  }
  @include md-block {
    font-size: 20px;
  }
}

.h7 {
  font-size: 20px;
}

.subtitle {
  font-size: 24px;
  color: var(--text-secondary);
  text-transform: none;
  @include xlg-block {
    font-size: 22px;
  }
  @include md-block {
    font-size: 20px;
  }
}

.caption {
  font-weight: 300;
  font-size: 14px;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-secondary);
}

.text-main {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
}

.text-small {
  font-size: 14px;
}

.caption-small {
  font-size: 12px;
}


button {
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
}

.container-full {
  width: 100%;
  padding-inline: 50px;
  @include lg-block {
    padding-inline: 80px;
  }
  @include md-block {
    padding-inline: 40px;
  }
  @include xs-block {
    padding-inline: 20px;
  }
}

.container-inner {
  width: 100%;
  max-width: var(--container-width);
  padding: var(--container-padding);
  margin: 0 auto;
  @include xlg-block {
    max-width: 100%;
    padding-inline: 50px;
  }
  @include lg-block {
    padding-inline: 80px;
  }
  @include lg-block {
    padding-inline: 40px;
  }
  @include xs-block {
    padding-inline: 20px;
  }
}

.container-small {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding: 0 20px;
  @include xlg-block{
    max-width: 1150px;
  }
  @include md-block{
    padding: 0 40px;
  }
  @include xs-block{
    padding: 0 20px;
  }
}

.icon-fill {
  display: flex;
  --color: var(--icon-primary);
  @include tr;

  @include hover {
    --color: var(--icon-accent-hover);
  }
  @include active {
    --color: var(--icon-accent-active);
  }

  svg {

    path {
      fill: var(--color);
    }
  }

}

.icon-stroke {
  --color: var(--icon-primary);
  display: flex;
  @include tr;

  @include hover {
    --color: var(--icon-accent-hover);
  }

  svg {

    path {
      stroke: var(--color);
    }
  }

}

.btn {
  border-radius: 100vmax;
  font-weight: 500;
  text-align: center;
  display: flex;
  padding-inline: 27px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  @include tr;


  &--large {
    padding-block: 18px;
  }

  &--small {
    padding-block: 11px;
  }

  &--blue {
    color: var(--icon-on-color);
    background: var(--bg-accent);
    border: 1px solid var(--bg-accent);

    @media (any-hover: hover) {
      &:hover {
        background: var(--bg-accent-hover);
        background-color: var(--bg-accent-hover);
      }
    }

    &:active {
      background: var(--bg-accent-active);
      background-color: var(--bg-accent-active);
    }

    @media (any-hover: none) {
      &:active {
        background: var(--bg-accent-hover);
        background-color: var(--bg-accent-hover);
      }
    }
  }

  &--black {
    color: var(--icon-on-color);
    background: var(--bg-inverted);
    border: 1px solid var(--bg-inverted);

    @media (any-hover: hover) {
      &:hover {
        background: var(--bg-inverted-hover);
        border-color: var(--bg-inverted-hover);
      }
    }

    &:active {
      background: var(--bg-inverted-active);
      border-color: var(--bg-inverted-active);
    }

    @media (any-hover: none) {
      &:active {
        background: var(--bg-inverted-hover);
        border-color: var(--bg-inverted-hover);
      }
    }
  }

  &--white {
    color: var(--text-primary);
    background: var(--bg-primary);
    border: 1px solid var(--bg-primary);

    @media (any-hover: hover) {
      &:hover {
        color: var(--icon-on-color);
        background: var(--bg-inverted-hover);
        border-color: var(--bg-inverted-hover);
      }
    }

    &:active {
      color: var(--icon-on-color);
      background: var(--bg-inverted-active);
      border-color: var(--bg-inverted-active);
    }

    @media (any-hover: none) {
      &:active {
        color: var(--icon-on-color);
        background: var(--bg-inverted-hover);
        border-color: var(--bg-inverted-hover);
      }
    }
  }

  &--border {
    border: 1px solid var(--border-on-primary);
    color: var(--text-primary);

    @media (any-hover: hover) {
      &:hover {
        color: var(--icon-on-color);
        background: var(--bg-inverted-hover);
        border-color: var(--bg-inverted-hover);
      }
    }

    &:active, &.active {
      color: var(--icon-on-color);
      background: var(--bg-inverted-active);
      border-color: var(--bg-inverted-active);
    }

    @media (any-hover: none) {
      &:active {
        color: var(--icon-on-color);
        background: var(--bg-inverted-hover);
        border-color: var(--bg-inverted-hover);
      }
    }
  }

}

.btn-play {
  display: flex;
  width: 128px;
  height: 128px;
  justify-content: center;
  align-items: center;
  text-align: center;

  color: var(--text-on-color, #FFF);
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.link {
  @include tr;
  @include hover {
    color: var(--text-accent-hover);
  }
  @include active {
    color: var(--text-accent-active);
  }
}

.tooltip {
  pointer-events: all;

  color: var(--text-primary, #15182A);
  font-size: 12px;
  font-weight: 500;
  padding: 3px 14px;

  border-radius: 100vmax;
  background: var(--black-black-300, #DDDEE2);
  transition: 200ms;
  @include hover {
    background: var(--bg-accent, #005AFF);
    color: var(--text-inverted, #FFF);
  }

  &__content {
    display: none;
  }
}

.tippy-content {
  width: 340px;
  padding: 14px 20px;
  border-radius: 8px;
  background: var(--bg-inverted, #15182A);

  color: var(--text-inverted, #FFF);

  font-size: 14px;
}

.choices {

  &__inner {
    padding: 8px 0 !important;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid var(--border-secondary, #15182A);
    font-size: 16px;
  }

  &__list {

    &--dropdown {
      top: calc(100% + 10px) !important;
      box-shadow: 0 16px 32px 0 rgba(31, 35, 62, 0.04);
      border-radius: 8px !important;
      background: #FFF;
      border: none !important;

      .choices__item {
        padding: 20px !important;
        font-size: 16px !important;

        &.is-highlighted {
          color: var(--text-accent-active);
          background-color: transparent !important;
        }
      }
    }

  }

}

.title {
  @include xs-block {
    font-size: 32px;
  }
}

.color-error {
  color: var(--text-error);
}

.color-success {
  color: var(--text-success);
}

.color-accent {
  color: var(--text-accent);
}

.color-secondary {
  color: var(--text-secondary);
}

.hidden {
  display: none !important;
}

