@use "../helpers/index" as *;

.aside-menu {
  font-size: 25px;
  @include lg-block {
    display: flex;
    border-bottom: 1px solid var(--border-secondary, #15182A);
    gap: 40px;
    overflow-x: auto;
  }
  @include md-block {
    margin-right: -40px;
  }

  &[data-type="2"]{
    font-size: 20px;
    @include lg-block{
      display: block;
      border-bottom: none;
      overflow-x: visible;
      gap: initial;
    }
    @include md-block{
      margin-right: 0;
    }

    .aside-menu__item{
      @include lg-block {
        padding-block: 24px;
        border-bottom: 1px solid var(--border-secondary, #15182A);
        padding-right: 0;
        font-size: 20px;
      }
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-block: 24px;
    border-bottom: 1px solid var(--border-secondary, #15182A);
    color: var(--text-primary, #15182A);

    font-weight: 500;
    line-height: 1.3;
    @include tr;
    @include lg-block {
      padding-block: 20px;
      padding-right: 40px;
      border-width: 3px;
      border-color: transparent;
      white-space: nowrap;
      font-size: 22px;
    }
    @include md-block {
      padding-block: 18px;
    }


    &.active {
      color: var(--text-accent, #005AFF);
//      border-color: var(--border-accent, #005AFF);
    }

    @include hover {
      color: var(--text-accent-hover, #005AFF);
    }
    @include active {
      color: var(--text-accent-active, #005AFF);
    }
  }
}