@use "../helpers/index" as *;

.engineering {

  &__menu {
    margin-bottom: 40px;
    @include xlg-block {
      margin-bottom: 30px;
    }
  }

  &__news, &__projects {
    @include lg-block {
      margin-top: 110px;
    }
    @include md-block {
      margin-top: 90px;
    }
    @include xs-block {
      margin-top: 80px;
    }
  }

  &__faq {
    margin-top: 120px;
    @include md-block {
      margin-top: 90px;
    }
  }
}