@use "../helpers/index" as *;

.header-search {

  &__form {
    margin-bottom: 10px;
    border-radius: 8px;
    background: var(--bg-primary, #FFF);
    position: relative;
  }

  &__icon {
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translateY(-50%);
  }

  &__input {
    width: 100%;
    padding: 18px 95px 18px 70px;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
  }

  &__clear {
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);

    color: var(--text-secondary, #797B8B);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
  }

  &__result {
    border-radius: 8px;
    background: var(--white-white);
  }

  &__items {
    padding: 20px;
    display: grid;
    gap: 10px;
    @include xs-block{
      padding: 10px;
    }
  }

  &__item{
    display:grid;
    grid-template-columns: 230px 1fr;
    gap: 40px;
    align-items: center;

    padding: 20px;
    border-radius: 8px;
    border: 1px solid transparent;
    background: var(--bg-primary, #FFF);
    @include tr;
    @include xs-block{
      padding: 5px;
      grid-template-columns: 120px 1fr;
      gap: 10px;
      align-items: start;
    }
    @include hover{
      border-color: var(--border-on-primary, #DDDEE2);
    }
  }

  &__item-img{
    aspect-ratio: 230/155;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background: var(--bg-secondary, #F4F4F5);
    img{
      width: auto;
      height: auto;
      max-height: 100%;
      mix-blend-mode: multiply;
    }
  }

  &__item-right{
    display: flex;
    flex-direction: column;
  }

  &__item-category{
    margin-bottom: 6px;
    @include xs-block{
      font-size: 12px;
      margin-bottom: 4px;
    }
  }

  &__item-name{
    margin-bottom: 20px;
    @include xs-block{
      font-size: 14px;
      margin-bottom: 6px;
    }
  }

  &__item-price{
    @include xs-block{
      font-size: 14px;
    }
  }

  &__nothing{
    padding: 20px;
    min-height: 280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
  }

  &__nothing-description{
    color: var(--text-secondary, #797B8B);
  }

}
