@use "../helpers/index" as *;

.header {
  padding: 20px 50px;
  display: flex;
  align-items: center;
  gap: 44px;
  border-bottom: 1px solid var(--border-on-primary);
  @include lg-block{
    padding: 20px 40px;
  }
  @include md-block{
    border-color: transparent;
    padding: 12px 40px;
    gap: 34px;
  }
  @include xs-block{
    padding: 12px 15px;
  }

  &__logo{
    flex-shrink: 0;
  }

  &__menu {
    margin-left: 16px;
    @include md-block{
      display: none;
    }
  }

  &__icons {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 20px;
  }

  &__city {

  }

  &__registration{
    @include xs-block{
      display: none;
    }
  }

  &__nav{
    flex-shrink: 0;
  }
}