@use "../helpers/index" as *;

.main-application {
  border-radius: 24px;
  background: var(--bg-primary, #FFF);
  color: var(--text-primary, #15182A);
  overflow: hidden;
  display: grid;
  @include md-block {
    border-radius: 12px;
    grid-template-columns: repeat(2, 1fr);
  }
  @include xs-block{
      grid-template-columns: 100%;
  }

  &--blue {
    background: var(--bg-accent, #005AFF);
    color: var(--text-inverted, #FFF);
  }

  &__info {
    padding: 50px 96px 26px 40px;
    display: grid;
    gap: 16px;
    position: relative;
    @include xlg-block {
      gap: 10px;
      padding: 50px 90px 26px 30px;
    }
    @include md-block {
      padding: 40px 20px 30px 30px;
      display: flex;
      flex-direction: column;
      gap: 9px;
    }
    @include xs-block{
      padding: 30px 20px;
    }
  }

  &__text {
    max-width: 25ch;
  }

  &__arrow {
    position: absolute;
    top: 50px;
    right: 40px;
    @include xlg-block {
      right: 32px;
    }
    @include md-block {
      position: static;
      margin-top: auto;
    }
    @include xs-block{
      display: none;
    }
  }

  &__img {
    width: 100%;
    @include md-block {
      display: flex;
      align-items: center;
      justify-content: center;
      aspect-ratio: 347/310;
    }
    @include xs-block{
          aspect-ratio: 321/232;
    }

    img {
      @include md-block {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}