@use "../helpers/index" as *;

.main-about {

  &__title {
    margin-bottom: 40px;
    max-width: 21ch;
    @include xs-block{
      margin-bottom: 30px;
    }
  }

  &__grid {
    display: grid;
    grid-template-columns: 5fr 7fr;
    grid-template-areas: '. content';
    gap: 24px;
    @include xlg-block {
      grid-template-columns: 4fr 8fr;
    }
    @include md-block {
      grid-template-columns: 2fr 10fr;
    }
    @include xs-block {
      grid-template-columns: 100%;
      grid-template-areas: 'content';
    }
  }

  &__content {
    grid-area: content;
    display: flex;
    flex-direction: column;
    gap: 30px;
    align-items: start;
    @include md-block {
      gap: 20px;
    }
  }

  &__btn {
    width: 262px;
    @include xs-block{
      width: 100%;
    }
  }
}