@use "../helpers" as *;

.main {

  &__block {
    padding-block: 120px;
    border-radius: 56px;
    @include xlg-block {
      padding-block: 110px;
      border-radius: 36px;
    }
    @include lg-block {
      padding-block: 100px;
    }
    @include md-block {
      padding-block: 90px;
      border-radius: 16px;
    }
    @include xs-block {
      padding-block: 80px;
      border-radius: 0;
    }

    &--bg-secondary {
      background: var(--bg-secondary, #F4F4F5);
    }
  }

  &__top {
    margin-top: 60px;
    margin-inline: 70px;
    @include xlg-block {
      margin-inline: 30px;
    }
    @include md-block {
      background: var(--bg-secondary, #F4F4F5);
      margin: 0;
      padding-top: 60px;
      padding-inline: 45px;
    }
    @include xs-block {
      padding-top: 100px;
      padding-inline: 20px;
    }
  }

  &__zones {
    margin-top: 50px;
    padding-inline: 40px;
    @include xlg-block {
      padding-inline: 40px;
    }
    @include lg-block {
      margin-top: 30px;
    }
    @include md-block {
      display: none;
    }
  }

  &__catalog,
  &__about,
  &__block,
  &__applications,
  &__projects {
    margin-top: 100px;
    @include md-block {
      margin-top: 90px;
    }
    @include xs-block {
      margin-top: 80px;
    }
  }
}