@use "../helpers/index" as *;

.main-selection {
  border-radius: 24px;
  overflow: hidden;



  &__step{
    min-height: 660px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    @include md-block{
      min-height: 814px;
    }
    @include xs-block{
      min-height: 518px;
    }


    &--main{
      background: var(--bg-primary, #FFF) url("/upload/images/main-selection/bg.svg") center center no-repeat;
      background-size: cover;
    }
  }

  &__title{
    margin-bottom: 15px;
    max-width: 18ch;
  }

  &__text{
    margin-bottom: 45px;
    max-width: 24ch;
    @include md-block{
      margin-bottom: 30px;
    }
  }

  &__btn{
    width: 262px;
  }
}