@use "../helpers/index" as *;

.page {
  overflow: hidden;

  &__breadcrumbs {
    margin-top: 40px;
    @include xlg-block {
      margin-top: 30px;
    }
  }

  &__title {
    margin-top: 40px;
    margin-bottom: 40px;

    @include xlg-block {
      margin-top: 20px;
    }
    @include lg-block {
      margin-bottom: 30px;
    }
    @include xs-block {
      margin-bottom: 20px;
    }
  }

  &__border {
    position: relative;
    z-index: 1;
    border-radius: 0 0 56px 56px;
    background: var(--white-white);
    overflow: hidden;
    padding-bottom: 120px;
    @include lg-block {
      padding-bottom: 110px;
      border-radius: 0 0 36px 36px;
    }
    @include md-block {
      padding-bottom: 90px;
      border-radius: 0 0 16px 16px;
    }
    @include xs-block {
      padding-bottom: 80px;
    }
  }

  &__grid {
    display: grid;
    gap: 20px;
    grid-template-columns: 100%;

    &:has(.page__aside) {
      grid-template-columns: 442px calc(100% - 442px - 20px);
      @include xlg-block {
        grid-template-columns: 432px calc(100% - 432px - 20px);
      }
      @include lg-block {
        grid-template-columns: 100%;
        gap: 60px;
      }
      @include md-block {
        gap: 40px;
      }
    }

    &--inner {
      padding-bottom: 120px;
    }
  }

  &__aside {
    &--lg-dn {
      @include lg-block {
        display: none;
      }
    }
  }

  &__aside-lg {
    display: none;
    @include lg-block {
      display: block;
      margin-top: 110px;
    }
    @include md-block {
      margin-top: 90px;
    }
    @include xs-block {
      margin-top: 80px;
    }
  }

  &__aside-apps, &__aside-news, &__aside-projects {
    margin-top: 110px;

    @include md-block {
      margin-top: 90px;
    }
    @include xs-block {
      margin-top: 80px;
    }
  }

  &__feedback {
    display: block;
    margin-top: -60px;
    background: var(--bg-accent, #005AFF);
    position: relative;
    z-index: 0;
    padding-top: 180px;
    padding-bottom: 120px;
    @include xlg-block {
      padding-top: 160px;
      padding-bottom: 100px;
    }
    @include md-block {
      padding-top: 140px;
      padding-bottom: 80px;
    }
    @include xs-block {
      margin-top: 0;
      padding-block: 80px;
    }
  }


}