@use "../helpers/index" as *;

.product {
  --mt: 80px;
  @include md-block {
    --mt: 60px;
  }

  &__container {
    margin-inline: 40px;
    @include md-block {
      margin: 0;
      padding-inline: 40px;
      padding-block: 60px;
      background: var(--bg-secondary, #F4F4F5);
    }
    @include xs-block {
      padding-inline: 20px;
    }
  }

  &__breadcrumbs {
    margin-bottom: 15px;
  }

  &__main {
    border-radius: 24px;
    background: var(--bg-secondary, #F4F4F5);
    display: grid;
    grid-template-columns: 6fr 6fr;
    gap: 80px;
    padding: 100px 140px 100px 70px;
    @include xlg-block {
      padding: 60px 40px;
      gap: 50px;
    }
    @include lg-block {
      padding: 50px 30px;
      gap: 20px;
    }
    @include md-block {
      border-radius: 0;
      padding: 0;
      grid-template-columns: 100%;
      gap: 50px;
    }
  }

  &__main-left {
    width: 100%;
    overflow: hidden;
    @include xs-block {
      overflow: visible;
    }
  }

  &__tablet {
    display: none;
    @include md-block {
      display: block;
    }
  }

  &__tablet-none {
    @include md-block {
      display: none;
    }
  }

  &__imgs {
    margin-inline: 40px;
    margin-bottom: 40px;
    @include xs-block {
      margin-inline: 0px;
      margin-block: 20px;
    }
  }

  &__img {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 630px;
    @include xlg-block {
      height: 540px;
    }
    @include lg-block {
      height: 500px;
    }
    @include md-block {
      height: 300px;
    }
    @include xs-block {
      height: auto;
    }


    img {
      height: auto;
      max-height: 100%;
    }
  }

  &__thumbs {
    display: flex;
    gap: 75px;
    align-items: center;
    @include xlg-block {
      gap: 40px;
    }
    @include md-block {
      gap: 100px;
    }
    @include xs-block {
      gap: 0;
    }
  }

  &__thumbs-btn {
    @include xs-block {
      display: none;
    }
  }

  &__thumbs-slider {
    @include xs-block {
      margin-inline: -20px;
      padding-inline: 20px;
    }

  }

  &__thumb {
    border-radius: 12px;
    border: 1px solid var(--border-on-primary, #DDDEE2);
    padding: 14px;

    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 120/115;
    height: auto;
    cursor: pointer;
    @include tr;
    @include xs-block {
      width: 118px;
    }

    &.swiper-slide-thumb-active {
      border-color: var(--border-accent);
    }

    img {
      height: auto;
      max-height: 100%;
    }
  }

  &__title {
    font-size: 44px;
    margin-bottom: 36px;
    @include xlg-block {
      font-size: 40px;
      margin-bottom: 13px;
    }
    @include xs-block {
      font-size: 28px;
    }
  }

  &__articul {
    margin-bottom: 30px;
    @include lg-block {
      margin-bottom: 20px;
    }
  }

  &__text {
    margin-bottom: 45px;
    @include lg-block {
      margin-bottom: 30px;
    }
  }

  &__chars {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px 70px;
    margin-bottom: 40px;
    @include xlg-block {
      gap: 25px 30px;
    }
    @include lg-block {
      gap: 20px;
      margin-bottom: 20px;
    }
    @include xs-block {
      grid-template-columns: 100%;
    }
  }

  &__char {
    padding-block: 5px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border-bottom: 1px solid var(--border-on-primary, #DDDEE2);
  }

  &__char-value {
    font-weight: 600;
  }

  &__standards {
    border-radius: 12px;
    background: rgba(#FFF, 0.5);
    padding: 36px;

    display: grid;
    grid-template-columns: 56px 1fr;
    gap: 20px;

    margin-bottom: 30px;
    @include xlg-block {
      padding: 26px 20px;
    }
    @include lg-block {
      padding: 26px 10px;
      gap: 10px;
    }
  }

  &__standards-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 5px 20px;
    @include lg-block {
      gap: 5px;
    }
    @include xs-block {
      grid-template-columns: 100%;
    }
  }

  &__select {
    margin-bottom: 48px;
    @include xlg-block {
      margin-bottom: 30px;
    }
  }

  &__price {
    margin-bottom: 40px;
    @include xlg-block {
      margin-bottom: 20px;
    }
  }

  &__btns {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    @include xs-block {
      grid-template-columns: 100%;
      gap: 12px;
    }
  }

  &__accordion {
    margin-top: 40px;
  }

  &__elements {
    margin-top: var(--mt);
  }

  &__banner {
    margin-top: var(--mt);
  }

  &__recommended {
    margin-top: var(--mt);
  }

  &__photos {
    margin-top: var(--mt);
  }

}